@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $btn-main-bcg;
  color: $btn-main-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $btn-main-text !important;
    background-color: $btn-main-bcg-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}
.big{
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 10px 15px;
  font-weight: 400;
  color: black;
  background-color: #ffffff;
}
.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $btn-outline-border;
  color: $btn-outline-text;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $btn-main-bcg-hover;
    color: $btn-outline-text-hover;
    border-color: $btn-outline-hover-border;
    @extend .hover_anim_text;
  }
}
.toFavorite {
  background-color: $btn-fav-bcg;
  color: $btn-fav-text;
  border-color: $btn-fav-border;
}
.toCompare{
  background-color: $btn-compare-bcg;
  color: $btn-compare-text;
  border-color: $btn-compare-border;
}


