@import "../../../styles/settings.scss";

.root {
  padding: 10px 0;
}

@media (max-width: 992px) {
  .root {
    :global(.col-4) > * {
      display: none;
    }
  .secondWindow{
    flex: 0 0 100%;
    max-width: 100%;
  }  
  }
}