@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $newfurniture-panelbar-border;
    }

    .heading {
      position: relative;
      width: 95%;

      h3 {
        color: $newfurniture-header-text;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $newfurniture-heading-before;
      }
    }

    .menu {
      text-align: center;
      top: 3px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $newfurniture-menu-link;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;
            @extend .hover_anim_text;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $newfurniture-menu-link-active-hover-border;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $newfurniture-dots-list;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $newfurniture-link-bcg;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $newfurniture-link-active-hover;
            }
          }
        }
      }
    }
  }

  .row{
    padding-top: 30px;
  }

  .fadeout {
    opacity: 0;
    transition: 0.6s;
  }

  .fadein {
    transition: 1.5s;
  }
}

@media (max-width: 767px) {
  .root{
    .panelBar{
      .dots {
        position: static;
        margin-bottom: 30px;
      }
    }
  }
}
