$base-padding: 24px;

/*** VARIABLES ***/

//DO NOT USE IN SCSS FILES//
$almostBlack: #2a2a2a;
$almostWhite: #e2e2e2;
$charcoal: #292929;
$darkGray: #363636;
$ghostWhite: #e1e1e1;
$gray: #434343;
$mediumGray: #808080;
$green: #008000;
$lightGray: #b2b2b2;
$orange: #d58e32;
$silver: #b6b6b6;
$snowWhite: #f4f5f7;
$transparent: transparent;
$white: #ffffff;
$cream: #f7f7ee;
$black: #000000;
$lightGreen: #79AE30;
$ivory: #FAEBD7;
$darkGreen: #2F4F4F;
$brown: #662727;


/* Button Component */

$btn-main-bcg: $almostBlack;
$btn-main-bcg-hover: $orange;
$btn-main-text: $white;
$btn-outline-border: $almostBlack;
$btn-outline-hover-border: $almostBlack;
$btn-outline-text: $almostBlack;
$btn-outline-text-hover: $white;
$btn-fav-bcg: $orange;
$btn-fav-border: $orange;
$btn-fav-text: $white;
$btn-compare-bcg: $orange;
$btn-compare-border: $orange;
$btn-compare-text: $white;

/* MenuBar Component */

$menubar-bcg: $white;
$menubar-hover-active-border: $orange;
$menubar-hover-active-text: $white;
$menubar-link-active-border: $almostBlack;
$menubar-link-border: $white;
$menubar-link-hover-active-bcg: $orange;
$menubar-link-text: $almostBlack;
$menubar-media-border: $charcoal;

/* TopBar Component */

$topbar-bcg: $gray;
$topbar-link: $white;
$topbar-link-hover: $orange;

/* FeatureBox Component */

$featurebox-active-content: $orange;
$featurebox-content-active-bcg: $orange;
$featurebox-content-active-border: $orange;
$featurebox-content-text: $almostBlack;
$featurebox-icon-bcg: $white;
$featurebox-text: $almostBlack;
$featurebox-border: $silver;
$featurebox-icon-border: $lightGray;
$featurebox-icon-after-border: $silver;

/* ProductBox Component */

$productbox-bcg: $white;
$productbox-bcg-border: $ghostWhite;
$productbox-content-text: $orange;
$productbox-line-border: $almostBlack;
$productbox-line-border-before: $orange;
$productbox-photo-bcg: $snowWhite;
$productbox-old-price-bcg: $almostBlack;
$productbox-old-price-text: $gray;
$productbox-price-hover-bcg: $orange;
$productbox-sale-bcg: $charcoal;
$productbox-sale-text: $white;

/* ProductSearch Component */

$productsearch-button-bcg: $transparent;
$productsearch-border: $charcoal;
$productsearch-category-border: $charcoal;
$productsearch-hover-bcg: $orange;
$productsearch-placeholder: $almostBlack;
$productsearch-select-bcg: $transparent;
$productsearch-text: $almostBlack;
$productsearch-list-bcg: $white;
$productsearch-text-hover: $white;
$productsearch-border-hover: $orange;
$productsearch-placeholder: $orange;
$productsearch-icon: $orange;

/* NewFurniture Component */

$newfurniture-menu-link-active-hover-border: $orange;
$newfurniture-menu-link: $almostBlack;
$newfurniture-header-text: $orange;
$newfurniture-heading-before: $orange;
$newfurniture-link-bcg: $ghostWhite;
$newfurniture-dots-list: $white;
$newfurniture-link-active-hover: $orange;
$newfurniture-panelbar-border: $almostWhite;

/* CompanyClaim Component */

$companyclaim-bcg: $brown;
$companyclaim-cart-bcg: $orange;
$companyclaim-cartCounter-bcg: $darkGray;
$companyclaim-cartCounter-text: $silver;
$companyclaim-cartCounter-text-hover-bcg: $orange;
$companyclaim-cart-text: $white;
$companyclaim-phonenumber-icon: $orange;
$companyclaim-phonenumber-text: $silver;

/* Footer Component */

$footer-bg: $darkGray;
$footer-bottomBar-bcg: $almostBlack;
$footer-copyright-text: $lightGray;
$footer-menu-link: $lightGray;
$footer-menu-link-hover: $white;
$footer-menu-text: $white;
$footer-sm-links: $lightGray;
$footer-sm-links-hover: $orange;

/*Promotions*/

$promotions-color-main: $orange;
$promotions-color-light: $cream;
$promotions-color-dark: $charcoal;

/*Carousel*/
$carousel-hotdeals-bcg: $almostBlack;
$carousel-hotdeals-text: $white;
$carousel-list-bcg: $almostBlack;
$carousel-link-bcg: $ghostWhite;
$carousel-link-bcg-hover: $orange;
$carousel-description: $almostWhite;
$carousel-button-wrapper-link: $white;
$carousel-button-bcg: $almostBlack;
$carousel-button-text: $white;
$carousel-button-hover-bcg: $orange;

/*Tooltip*/
$tooltip-bck: $mediumGray;
$tooltip-arrow-bck: $mediumGray;
$tooltip-bcg: $black;
$tooltip-text: $white;
$tooltip-button-bcg: $black;

/*Gallery*/
$gallery-heading-border: $ivory;
$gallery-heading-text: $lightGreen;
$gallery-heading-before: $orange;
$gallery-content-border: $ivory;
$gallery-menu-border: $ivory;
$gallery-menu-link: $charcoal;
$gallery-menu-link-hover-bcg: $ivory;
$gallery-menu-link-hover-text: $orange;
$gallery-menu-link-hover-border: $orange;
$gallery-image-border: $ivory;
$gallery-details-box-shadow: $mediumGray;
$gallery-prices-bcg: $lightGray;
$gallery-details-content-stars: $charcoal;
$gallery-prices-text: $white;
$gallery-slider-button-bcg: $lightGray;
$gallery-slider-button-text: $white;
$gallery-slider-border: $ivory;
$gallery-slider-bcg: $mediumGray;
$gallery-add-image-border: $ivory;
$gallery-price-h3: $lightGreen;
$gallery-price-h4: $orange;
$gallery-price-button-bcg: $lightGreen;

/*HotDeals*/
$hotdeals-border: $orange;
$hotdeals-dots-text: $white;
$hotdeals-dots-border-after: $charcoal;
$hotdeals-dots-bcg-after: $charcoal;
$hotdeals-content-text: $orange;
$hotdeals-line-border: $almostBlack;
$hotdeals-line-border-before: $orange;
$hotdeals-oldprice: $lightGray;

/*ProductsCompare*/
$compare-border: $orange;
$compare-text: $orange;
$compare-button-bcg: $orange;
$compare-button-text: $white;
$compare-keyframe-to-bcg: $gray;

/*Brands*/
$brands-after-bcg: $silver;
$brands-before-bcg: $silver;

/*Feedback*/
$feedback-panelbar-border: $almostWhite;
$fedback-heading-text: $orange;
$feedback-heading-before-border: $orange;
$feedback-dots-list-bcg: $white;
$feedback-list-link-bcg:$ghostWhite;
$feedback-list-link-bcg-hover: $orange;

// Login //

$login-bcg: $gray;
$login-title: $white;
$login-wrapper-bcg: $white;
$login-wrapper-border: $orange;
$login-input-border: $white;
$login-button-bcg: $orange;
$login-button-shadow: $lightGray;
$login-button-color: $almostBlack;

// Register //
$register-bcg: $gray;
$register-wrapper-bcg: $white;
$register-wrapper-border: $orange;
$register-input-border: $white;
$register-button-bcg: $orange;
$register-button-color: $almostBlack;
$register-button-shadow: $lightGray;

// TRANSITIONS //
$transition-button-bg: all 250ms;
$transition-button-text: all 250ms;

// ANIMATIONS //
.hover_anim_bg {
    transition: $transition-button-bg;
}
.hover_anim_text {
    transition: $transition-button-text;
}

