$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$gray-text-color: #9c9c9c;

// TRANSITIONS //

$transition-button-bg: all 250ms;
$transition-button-text: all 250ms;

// ANIMATIONS //

.hover_anim_bg {
  transition: $transition-button-bg;
}

.hover_anim_text {
  transition: $transition-button-text;
}
