@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    ul {
      position: relative;
      z-index: 100;
      list-style-type: none;
      margin: 0;
      border: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 5px 35px;
      
      li {
        border: 0;
        width: 100%;
        background-color: white;
        padding: 5px 10px 5px 15px;
        display: none;

        &:hover {
          background-color: $primary;
          color: white
        }
      }

      &:hover li {
        display: block;
      }
    }

    &:hover {
      display: block;
      background-color: $primary;
      border-color: $primary;
    }

    &:hover .icon {
      display: none;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
