@import "../../../styles/settings.scss";

.root {
  border: 1px solid $productsearch-border;
  display: inline-flex;
  height: 45px;
  color: $productsearch-text;
}

  .category {
    border-right: 1px solid $productsearch-category-border;
    display: flex;
    align-items: center;
    position: relative;
    font-size:14px;
    width: 200px;
    text-align: center;
    height: 100%;
    cursor: pointer;

    .text {
      position: relative;
      z-index: 100;
      list-style-type: none;
      margin: 0;
      border: 0;
      width: 100%;
      background-color: $productsearch-select-bcg;
      padding: 0;

      .selectCategory {
        margin: 0;
      }

      .secondMenu {
        width: 100%;
        position: absolute;
        text-decoration: none;
        padding: 0;
        padding-top: 11px;
      }

      li {
        border: 0;
        width: 100%;
        background-color: $productsearch-list-bcg;
        padding: 10px 10px 5px 15px;
        display: none;

        &:hover {
          background-color: $productsearch-hover-bcg;
          color: $productsearch-text-hover;
        }
      }

      &:hover li {
        display: block;
      }
    }

    &:hover {
      display: block;
      background-color: $productsearch-hover-bcg;
      border-color: $productsearch-border-hover;
      display: flex;
      height: 100%;
    }

    &:hover .icon {
      display: none;
    }

    .icon:first-child {
      color: $productsearch-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $productsearch-placeholder;
      }
    }

    button {
      border: 0;
      background-color: $productsearch-button-bcg;
      outline: none;
    }
  }


@media (max-width: 767px) {
  .searchField {
    input {
      width: 80%;
      font-size: 13px;
    }
  }
  .category {
    .text{
    font-size: 13px;
  }
    select {
      width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .selectCategory {
    padding: 0 30px;
  }

  .searchField {
    input {
      width: 100%;
    }
    .icon {
      font-size: 12px;
    }
  }
}



