@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
}

.links{
  @extend .hover_anim_text;
}
.links:hover {
  text-decoration: none;
  h5, p{
    color: $active-content}
  
  .iconWrapper {
    color: $featurebox-icon-bcg;

    &::after {
      background-color: $content-active-bcg;
      border-color: $content-active-border;
    }
  }
  .content {
    color: $active-content;
  }
}

