@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
}

.links:hover {
  text-decoration: none;
  h5, p{
    color: $primary;}
  
  .iconWrapper {
    color: #ffffff;

    &::after {
      background-color: $primary;
      border-color: $primary;
    }
  }
  .content {
    color: $primary;
  }
}


