@import "../../../styles/settings.scss";

.root {
  margin-bottom: 30px;
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $feedback-panelbar-border;
    }

    .heading {
      position: relative;
      width: 100%;

      h3 {
        color: $fedback-heading-text;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $feedback-heading-before-border;
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $feedback-dots-list-bcg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $feedback-list-link-bcg;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $feedback-list-link-bcg-hover;
            }
          }
        }
      }
    }
  }
  .imageBox {
    overflow: hidden;
    height: 75px;
    text-align: right;
  }
  
  img {
    width: 50px;
    height: 100%;
    text-align: center;
    object-fit: cover;
    right: 0;
    border-radius: 5px;
  }

  .apostrof{
    font-size: 75px;
    text-align: center;
    height:50px;
  }

  .text {
    text-align: center;
  }

  .name {
    position: relative;
  }

  .name p {
    margin: 0;
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
  }
}