@import "../../../styles/settings.scss";

.root {
  border: 1px solid $hotdeals-border;
  margin-bottom: 2rem;


  .photo {
    position: relative;
    padding: 0 10px 0 10px;
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;
  

    .promoCounter {
      height: 0;
      opacity: 0;
    }
    .promoCounter:hover{
      opacity: 1;
    }

    .dots {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      transform: translateY(-30px);

      h5 {
        color: $hotdeals-dots-text;
        z-index: 2;
        line-height: 0.5;
        text-align: center;
      }

      p {
        color: $hotdeals-dots-text;
        z-index: 2;
      }
      &::after {
        content: "";
        border: 1px solid $hotdeals-dots-border-after;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 76px;
        height: 76px;
        border-radius: 100%;
        background-color: $hotdeals-dots-bcg-after;
        z-index: 1;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      opacity: 0;
      transform: translateY(-120px);
    }

  }
  .buttons:hover{
    opacity:1;
  }

  .content {
    text-align: center;

    h5 {
      color: $hotdeals-content-text;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .line {
    margin: 0 15px;
    border-bottom: 1px solid $hotdeals-line-border;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $hotdeals-line-border-before;
      transform: translateX(-50%);
    }
  }
  .stars{
    margin: 15px 0;
  }
  .actions {
    padding: 15px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price{
    display: flex;
    flex-direction: row;

    .oldPrice{
      margin: 5px;
      text-decoration: line-through;
      color: $hotdeals-oldprice;
    }
  }
}